body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 60%;
  border: 1px solid gray;
}

.transfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transfer .content-teams {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
}
.transfer .content-teams p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer .content-teams::before {
  content: "Saiu";
  display: inline;
  align-self: center;
  margin-right: 10px;
  font-weight: bold;

  color: red;
}
.transfer .content-teams::after {
  content: "Entrou";
  display: inline;
  align-self: center;
  margin-left: 10px;
  font-weight: bold;

  color: rgb(68, 226, 68);
}

.transfer .content-teams mat-icon {
  align-self: center;
  color: blue;
}

.transfer .img-transfer {
  width: 20px;
  height: 20px;
}

table .img-team {
  width: 1rem;
  height: 1rem;
}

table td .content-td {
  display: flex;
  gap: 0.6rem;
}



table .material-symbols-outlined {
  color: #ff0000;

}
