
<body>


  <mat-card class="card-container" >
    <div class="hearder"></div>

    <mat-card-content class="card" >

      <div class="transfer" *ngFor="let c of transferTeams[0].transferencia">

  <div class="content-teams">
      <p class="before"><img [src]="c.gremio" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p class="after"><img [src]="c.everton" class="img-transfer"></p>
  </div>
  <div class="content-teams">
      <p ><img [src]="c.everton" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.mancity" class="img-transfer"></p>
  </div>
  <div class="content-teams">
      <p><img [src]="c.mancity" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.manutd" class="img-transfer"></p>

  </div>
  <div class="content-teams">
      <p><img [src]="c.manutd" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.barcelona" class="img-transfer"></p>

  </div>
  <div class="content-teams">
      <p><img [src]="c.barcelona" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.mancity" class="img-transfer"></p>

  </div>
  <div class="content-teams">
      <p><img [src]="c.mancity" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.manutd" class="img-transfer"></p>

  </div>
  <div class="content-teams">
      <p><img [src]="c.manutd" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.realmadrid" class="img-transfer"></p>

  </div>
  <div class="content-teams">
      <p><img [src]="c.realmadrid" class="img-transfer"></p>
      <mat-icon>arrow_forward</mat-icon>
      <p><img [src]="c.chelsea" class="img-transfer"></p>

  </div>

      </div>

    </mat-card-content>
  </mat-card>
</body>
