
<main class="container">



<div class="content-img-info" *ngFor="let i of infos">

    <div class="img">

        <img [src]="i.foto" alt="" class="foto">

      <div class="valor">
      Valor: {{i.valor}} &#8364;
      </div>

    </div>

    <div class="info-content" >
      <div class="info" >
        <p>Nome: {{i.nome}}</p>
        <p>Idade: {{i.idade}}</p>
        <p class="nasc-info">Nacionalida: <img [src]="i.nacionalidade" alt="" class="nasc"></p>
      </div>
      <div class="info">
        <p class="time-info">Time atual: <img [src]="i.time" alt="" class="time"></p>
        <p>Posição: {{i.posicao}}</p>
        <p>Altura: {{i.altura}}</p>
      </div>
    </div>

</div>


  <div class="titulos-content" *ngFor="let img of titulosImg">

    <div class="titulos"><img [src]="img.ucl" class="titulos-img">
      <p class="num-titulos">6</p>
    </div>

    <div class="titulos">
      <img [src]="img.pl" class="titulos-img">
      <p class="num-titulos">6</p>
    </div>

    <div class="titulos">
      <img [src]="img.scu" class="titulos-img">
      <p class="num-titulos">3</p>
    </div>

    <div class="titulos">
      <img [src]="img.fac" class="titulos-img">
      <p class="num-titulos">5</p>
    </div>

    <div class="titulos">
      <img [src]="img.wc" class="titulos-img">
      <p class="num-titulos">1</p>
    </div>
    <div class="titulos">
      <img [src]="img.ca" class="titulos-img">
      <p class="num-titulos">2</p>
    </div>
  </div>




  </main>
