

.container{
  background-color: rgb(231, 224, 220);
  display: flex;
  width: 60%;
  height: 400px;
  flex-direction: column;
  position: relative;

}

.content-img-info{
  display: flex;
  height: 75%;
  justify-content: space-around;
  flex-direction: row;

}

.img{
  display: flex;
  position: relative;
  border: solid black 1px;
  width: 150px;
  height: 170px;
  align-self: center;
}

.img > p {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.img > .valor{
  position: absolute;
  bottom: 0;
  background-color: rgb(109, 169, 224);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content{

  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;


}

.info-content .info{

  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  padding: 0.5rem;
}

.info-content .info .nasc-info{
  display: flex;
}

.info-content .info .nasc-info .nasc{

  width: 1rem;
}

.info-content .info .time-info{
  display: flex;
  align-items: center;

}

.info-content .info .time{
  width: 1rem;
}


.titulos-content{

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;

}

.titulos-content .titulos{
  border: solid gray 1px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.titulos-content .titulos .num-titulos{
  background-color: rgb(109, 169, 224);
  border-radius: 50%;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 5px;
  font-weight: bold;

}




.titulos-content .titulos .titulos-img{
  width: 35%;
  height: 70%;
}
