
<main class="container">


<div class="content-img-info">

    <div class="img">
      <p>foto</p>
      <div class="valor">
        87.0000
      </div>
    </div>

    <div class="info-content">
      <div class="info">
        <p>Nome: José Augusto</p>
        <p>Idade: 26</p>
        <p>Nacionalida: Brasil</p>
      </div>
      <div class="info">
        <p>Time atual: Chelsea</p>
        <p>Posição: ATA</p>
        <p>Altura: 1.75cm</p>
      </div>
    </div>

</div>

  <div class="titulos-content">
    <div class="titulos">CPL</div>
    <div class="titulos">PL</div>
    <div class="titulos">CP</div>
    <div class="titulos">EF</div>
    <div class="titulos">SCU</div>
    <div class="titulos">WC</div>
  </div>


  </main>
