<nav class="nav-container">
  <div class="nav-bar">
    <ul class="nav-list">
      <li [routerLinkActive]="['active']">
        <a routerLink="/titulos">Títulos</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/artilharias"> Artilharias</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/estatisticas"> Estatísticas</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/clubes"> Tranferências </a>
      </li>
    </ul>
  </div>
</nav>
