<div class="container">


  <mat-card class="card-container" *ngFor="let p of taca[0].titulos">

    <div class="hearder">{{p.quantidade}}x VENCEDOR DA {{p.name.toUpperCase()}}</div>

    <mat-card-content class="card" >

      <div class="section-img">
        <img [src]="p.img" [title]="p.name">
      </div>

      <div class="section-season" >

        <ul>
          <li *ngFor="let i of p.temporadas" class="temporadas"><img [src]="i.team"> - {{i.temporada}}</li>
        </ul>

      </div>

    </mat-card-content>
  </mat-card>

</div>
