

.card-container{
  display: flex;
  flex-direction: column;
  width: 300px;

  border: 1px solid rgb(175, 170, 170);
}

.hearder{
  background-color: #1d539b;
  display: flex;
  justify-content: center;
  font-weight: bold ;
  color: #eee;
}



.card-container .card .temporada-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-container .card .temporada-content li{
  padding: 5px;
  list-style: none;
}

.card-container .card .temporada-content .temp-liga{
  color: blue;
  font-weight: bolder;

}

.card-container .card .temporada-content .temp-liga img{
  width: 20px;
  height: 20px;
}

