
body{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container {
  background-color: rgb(231, 224, 220);
  display: flex;
  width: 60%;
  height: 400px;
  flex-direction: column;
 position: relative;
margin-top: 1rem;
}

.content-img-info {
  display: flex;
  height: 75%;
  justify-content: space-around;
  flex-direction: row;
}

.img {
  display: flex;
  position: relative;
  width: 160px;
  height: 170px;
  align-self: center;
}
.img .foto {
  max-width: 100%;
}

.img > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img > .valor {
  position: absolute;
  bottom: 0;
  background-color: rgb(109, 169, 224);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.info-content .info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  padding: 0.5rem;
}

.info-content .info .nasc-info {
  display: flex;
}

.info-content .info .nasc-info .nasc {
  width: 1rem;
}

.info-content .info .time-info {
  display: flex;
  align-items: center;
}

.info-content .info .time {
  width: 1rem;
}




.titulos-content {


  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;


}



.titulos-content .titulos {
  border: solid gray 1px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100px;


}

.titulos-content .titulos .num-titulos {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-weight: 400;
  margin-left: 0.5rem;
}

.titulos-content .titulos .titulos-img {
  width: 30%;
  height: 70%;
}

@media screen and (max-width: 870px) {
  .container {
    width: 100%;
  }
}


@media screen and (max-width: 650px) {




  .titulos-content {

    height: 14%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
  }






  .img{
    width: 100px;
    height: 110px;
  }

  .container .estatistica{

    position: absolute;
    bottom: 0;
    width: 100%;

    }




}
