.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 10px;
  width: 300px;
  border-top: 1px solid gray;
}

.hearder {
  display: flex;
  background-color: #1d539b;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-container .card {
  border: 1px solid rgb(170, 160, 160);
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}
.card-container .premios-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-panel-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card .section-img {
  width: 40%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container .card .section-img img {
  max-width: 70px;
}
.card-container .card .section-season {
  border-left: 1px solid rgb(170, 160, 160);
  width: 60%;
  height: 180px;
  display: flex;
}
.card-container .card .section-season ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  margin-top: 10px;
}
.card-container .card .section-season .temporadas img {
  width: 1rem;
  height: 0.8rem;
}

@media screen and (max-width: 435px) {
  .card-container {
    width: 100%;
  }
}
